<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <!--
  <mat-progress-spinner> is a directive that is used to indicate that something is being loaded. It has two modes:
  indeterminate to indicate that we don't know how long the loading is going to take, and determinate to indicate that
  we do know how long the loading is going to take. If the mode is determinate, we need to set a value, as shown below.
  -->
  <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
  <h1>{{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <button mat-raised-button color="accent" (click)="onStop()">Stop</button>
</section>
