<section class="signup-form">
  <!--
  fxLayout directive sets the flex direction. If we don't provide a value, flex direction of row would be used.
  fxLayoutAlign sets the alignment on the main axis. To set the alignment on the cross axis, we provide two
  values like: "center center".
  -->
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <!--
    This is a component used to wrap other Angular Material components so it can apply styles to text fields, 'such
    as the underline, floating label, and hint messages'. We need to import MatFormFieldModule in our module before we
    can apply the component <mat-form-field> in our template. Also, we need to import MatInputModule in our module
    because we used the matInput directive here.
    -->
    <!--
    <mat-form-field> works with both the template driven approach and the reactive driven approach.
    -->
    <mat-form-field>
      <!--
      email is an Angular directive.
      -->
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <!--
      We don't have to import anything in our module when it also comes to <mat-error> directive, because it is part of
      <mat-form-field> directive. The error message in the <mat-error> directive appear when the whole form control
      has been provided incorrect data. To control this, we can use the ngIf directive.
      -->
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
    </mat-form-field>
    <!--
    We can also use hintLabel directive instead of <mat-hint> directive; whichever we prefer. We can also combine
    these two methods. If we do, we should define the align directive in <mat-hint>
    -->
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <!--
      We do not need to import anything in our module when it comes to <mat-hint> directive, because it is part of
      <mat-form-field> directive.
      Here we are telling the user how many characters he has entered.
      -->
      <!--
      Important to remember: errors override hints.
      -->
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
