<section class="signup-form">
  <!--
  fxLayout directive sets the flex direction. If we don't provide a value, flex direction of row would be used.
  fxLayoutAlign sets the alignment on the main axis. To set the alignment on the cross axis, we provide two
  values like: "center center".
  -->
  <!--
  fxLayoutGap of Angular Flexbox is used to set the spacing between elements.
  -->
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutGap="10px">
    <!--
    This is a component used to wrap other Angular Material components so it can apply styles to text fields, 'such
    as the underline, floating label, and hint messages'. We need to import MatFormFieldModule in our module before we
    can apply the component <mat-form-field> in our template. Also, we need to import MatInputModule in our module
    because we used the matInput directive here.
    -->
    <!--
    <mat-form-field> works with both the template driven approach and the reactive driven approach.
    -->
    <mat-form-field>
      <!--
      email is an Angular directive.
      -->
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <!--
      We don't have to import anything in our module when it also comes to <mat-error> directive, because it is part of
      <mat-form-field> directive. The error message in the <mat-error> directive appear when the whole form control
      has been provided incorrect data. To control this, we can use the ngIf directive.
      -->
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
    </mat-form-field>
    <!--
    We can also use hintLabel directive instead of <mat-hint> directive; whichever we prefer. We can also combine
    these two methods. If we do, we should define the align directive in <mat-hint>
    -->
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <!--
      We do not need to import anything in our module when it comes to <mat-hint> directive, because it is part of
      <mat-form-field> directive.
      Here we are telling the user how many characters he has entered.
      -->
      <!--
      Important to remember: errors override hints.
      -->
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!--
      matDatePicker is a directive of the MatDatepickerModule and not the input. This directive is where we tell
      Angular Material on which input we want to display the date chosen by the user on the date picker. We use
      property binding on the local reference (in our case picker) of the <mat-datepicker> directive, as shown below.
      -->
      <!--
      To the max property, if we provide a date, the datepicker will notice the date and take it into account. In the
      datepicker it will not allow us to pick a date after the maximum date we have set.
      -->
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
      <!--
      We have to import the Angular material datepicker module before we can implement the directives in our template.
      -->
      <!--
      <mat-datepicker-toggle> implements the button on the form input that toggles the datepicker.
      We pass to [for] the local reference of the datepicker, as shown below.
      -->
      <!--
      We use matSuffix to position the datepicker toggle button to the end of the form input.
      -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <!--
      <mat-datepicker> implements the actual datepicker that pops up. It must be connected to <mat-datepicker-toggle>
      and <input> through local reference, as shown above and below.
      -->
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--
    To use the <mat-checkbox> directive, we need to import the module that contains this directive in our app. Also,
    <mat-checkbox> directive is not wrapped by the <mat-form-field> directive, because it is no input.
    By default, the label/text is positioned after the checkbox. To change the positioning, we can set the labelPosition
    property to before which places the label before the checkbox, as shown below.
    We can also change the theme of the checkbox by setting the color property, as shown below.
    -->
    <mat-checkbox labelPosition="before" ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
