<section class="signup-form">
  <!--
  fxLayout directive sets the flex direction. If we don't provide a value, flex direction of row would be used.
  fxLayoutAlign sets the alignment on the main axis. To set the alignment on the cross axis, we provide two
  values like: "center center".
  -->
  <form fxLayout="column" fxLayoutAlign="center center">
    <!--
    This is a component used to wrap other Angular Material components so it can apply styles to text fields, 'such
    as the underline, floating label, and hint messages'. We need to import MatFormFieldModule in our module before we
    can apply the component <mat-form-field> in our template. Also, we need to import MatInputModule in our module
    because we used the matInput directive here.
    -->
    <mat-form-field>
      <input type="email" matInput placeholder="Your email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password">
    </mat-form-field>
  </form>
</section>
