/* You can add global styles to this file, and also import other style files */

/* Angular Material components use a theme. A theme is just a color combination of a primary color, a accent color and
a warning color in its core. Angular Material ships with 4 themes which we can find in:
node_modules/@angular/material/prebuilt-themes/.
 */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* We are implementing the Google Font that we just imported.
*/
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}